
.DS_Store

# Go
/flowersec-go/bin/
/flowersec-go/pkg/
**/*.test
**/*.out

# Node
node_modules/
dist/
build/
out/
.turbo/
.next/
coverage/

# Playwright
playwright-report/
test-results/

# IDE
.idea/
.vscode/

/\.*\.md

.DS_Store
